{% extends 'base.html' %}
{% block context %}
<div class="container">
{% for post in posts %}
{% if forloop.first %}<h1>{{ title }}</h1>{% endif %}
<article>
<ul>
    <li>
        Автор: {{ post.author.get_full_name }}
        
    </li>
    <li>
        Дата публикации: {{ post.pub_date | date:"d E Y" }}
    </li>
</ul>
</article>
<p> {{ post.text }} </p>
<a href="{% url 'posts:index'%}group/{{ post.group.slug }}">все записи группы</a>
{% if not forloop.last %} <hr> {% endif %}
{% endfor %}
{% endblock context %}